flexpolyline
streamlit
pydeck
streamlit-js-eval
pydantic
shapely
httpx
pytest
icalevents
icalendar
streamlit-calendar
fastapi
uvicorn
requests
msal
python-dotenv
pylint
pytest-cov
google-api-python-client
google-auth-httplib2
google-auth-oauthlib